.navbar{
  position: sticky;
}
ul{ 
  display: flex;
  flex-wrap: wrap;
  display:none;
  list-style: none;
} 
#rome{
  display: block;
}
ul li a{ 
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  
}
.card{
  margin: 10px;
}

.card::hover{
  opacity: 60%;
}
.myflexcard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 
}

.contactus2div{
  margin: auto;
  
  width: 450px;
  margin: 22px;
  padding: 22px;
  border: 2px solid gray;
  border-radius: 10px;
}

.form-control{
  border-radius: 4px;
}

.subcenter{
  display: flex;
  width: 280px;
  justify-content: center;
  display:none;
 text-align: center;
 margin: auto;
}

.aboutclass{
  border: 2px solid gray;
  display: flex;
  margin: 20px;
  padding:20px;
  justify-content: center;
  align-items: center;
}
